__Assuming that we have some email addresses in the "username@companyname.com" format, please write programto print the company name of a given email address. Both user names and company names are composed of lettersonly.Input Format:The first line of the input contains an email address.Output Format:Print the company name in single line.Example;Input:john@google.com, op:google__

In [15]:
email = input()
company = email.split('@')[1].split('.')[0]
print(company)

maheswaa@google.com
google

__Question 2:Write a program that accepts a comma-separated sequence of words as input and prints the words in a commaseparated sequence after sorting them alphabetically.Input Format:The first line of input contains words separated by the comma.Output Format:Print the sorted words separated by the comma.Example:Input:without,hello,bag,worldOutput:bag,hello,without,world__

In [1]:
text = input().split(',')
text.sort()
print(','.join(text))

without,hello,bag,world
bag,hello,without,world

__Question 3:Create your own Jupyter Notebook for Sets.Reference link: https://www.w3schools.com/python/python_sets.asp__

Set

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets

In [35]:
seteg = {'blue','greeen','yellow'}
print(seteg)

{'blue', 'yellow', 'greeen'}

In [39]:
for clr in seteg:
    print(clr)

blue
yellow
greeen

In [40]:
print('blue' in seteg)

True

In [41]:
seteg.add('red')
print(seteg)

{'blue', 'yellow', 'red', 'greeen'}

In [42]:
print(len(seteg))

4

__Question 4:Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.Input Format:The first line contains n-1 numbers with each number separated by a space.Output Format:Print the missing numberExample:Input:1 2 4 6 3 7 8Output:5Explanation:In the above list of numbers 5 is missing and hence 5 is the input__

In [45]:
nums = set([int(i) for i in input().split()])
full = set([i for i in range(1, max(nums)+1)])
print(*(nums ^ full))

1 2 3 5 6 7
4

__Question 5:With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.Example:If the input list is12 24 35 24 88 120 155 88 120 155Then the output should be12 24 35 88 120 155Explanation:Third, seventh and ninth element of the list L has been removed because it was already present.Input Format:In one line take the elements of the list L with each element separated by a space.Output Format:Print the elements of the modified list in one line with each element separated by a space.Example:Input: 12 24 35 24Output:12 24 35.__

In [46]:
nums = [int(i) for i in input().split()]
print(*sorted(set(nums), key = nums.index))

42 6542 642 6842 642 684 62 682 20 642 1530
42 6542 642 6842 684 62 682 20 1530